* {
    font-family: Helvetica;
    box-sizing: border-box;
    padding:0;
}

:root {
    --header-height: 60px;
    --nav-width: 250px;
    --first-color: #0d28a6;
    --hover-color: #cfd4ed;
    --z-fixed: 100;
}

/* for all button (register & mulai sewa mobil)*/
.btn-success {
    background-color: #5CB85F !important;
    margin-top: 10px !important;
    padding-top: 12px !important;
    padding-bottom: 10px !important;
}

/* for general black colored words */
.text-black {
    font-weight: bold;
}

/* for some white colored words */
.text-white {
    font-weight: bold;
}

/* navbar section*/
#navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light {
    background-color: #F1F3FF !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* modal */
.modal-backdrop {
    width: auto !important;
}

/* hero section */
#hero {
    background-color: #F1F3FF !important;
    padding-bottom: 30px;
} 

.hero-caption h2 {
    font-size: 36px;
    margin-top: 200px;
}

.hero-text p {
    font-size: 14px;
    margin-top: 15px;
    padding: 5px 100px 5px 0px;
    text-align: justify;
}

.hero-image {
    margin-top: 100px;
    max-width: 100%; 
    height: auto;
}

/* searching car for rent form section */
#search-car {
    padding-top:50px;
}

/* our service section */
#our-service {
    background-color: #ffffff;
    padding-top: 10px;
}

.our-service-image {
    margin-top: 50px;
    max-width: 100%; 
    height: auto;
}

.our-service-caption h2 {
    font-size: 24px;
    margin-top: 80px;
}

.our-service-text p {
    font-size: 14px;
    margin-top: 15px;
    padding: 5px 100px 5px 0px;
    text-align: justify;
}

.our-service-list {
    font-size: 14px;  
    padding: 10px 10px 10px 0px;
}

/* why us section */
#why-us {
    padding-top: 50px;
}

.why-us-caption h2 {
    font-size: 24px;
    margin-top: 50px;
}

.why-us-text p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.why-us-cards h5 {
    font-size : 16px;
    margin-top: 20px;
}

/* testimonials */
#testimonials {
    padding-top: 50px;
}

.testimonials-caption h2 {
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
}

.testimonials-text p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.stars-box {
    color: #ffff00;
}

.content .text-black {
    font-size: 12px;
} 

/* carousel testimonial box */
.single-box {
    background-color: #F1F3FF !important;
	border: 3px solid #e6f0fa;
    border-radius: 10px;
	padding: 20px 5px 10px;
    overflow: hidden;
}

.single-box .img-area {
    float: left;
    margin: 0;
    padding: 25px 5px 5px 5px;
}

.single-box .content {
	float: left;
	padding-left: 10px;
    width: 70%;
}

.single-box p {
	margin: 10px 0px 10px 0px;   
    text-align: justify;
    font-size: 12px;
}

/* for responsive version */
@media (min-width: 481px) and (max-width: 767px) {
    .owl-carousel .owl-item img {
        display: block !important;
        margin: 10px 170px 10px 160px;
        padding: 10px 10px 10px 10px;
        width: auto! important;
    }

    .stars-box {
        display: flex;
        margin: 10px 170px 10px 160px;
    }

    .single-box p {
        margin: 20px -100px 10px 20px;
        text-align: justify;
        font-size: 12px;
    }

    .content .text-black {
        margin: 20px -100px 0px 150px;
    }
}

/* banner */
#banner {
    padding-top: 100px;
}

.banner-card {
    background: #0D28A6;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: center;
}

.banner-caption h2{
    font-weight: bold;
    font-size: 36px;
    margin-top: 50px;
}

.banner-text h6 {
    color: #ffffff;
    font-size: 14px;
    margin-top: 15px;
    position: relative;
}

/* faq */
#faq {
    padding-top: 50px;
}

.faq-caption h2 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 50px;
}

.faq-text p {
    font-size: 14px;
    margin-top: 15px;
}

.all-accordion {
    font-size: 14px;
    margin-top: 50px;
}

/* footer */
#footer {
    font-size: 14px;
    padding-top: 100px;
}

.icon-holder img {
    margin-top:5px
}

/* card cars after filter*/
.section-cars .card {
    width: 351px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.section-cars .card .cars-img {
    width: 100%;
    height: 15vw;
    padding: 16px;
    object-fit: cover;
}

.section-cars .card .card-body h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.section-cars .card .card-body h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.section-cars .card .card-body p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.section-cars .card .card-body .available-at {
    margin-bottom: 16px;
}

.section-cars .card .card-body .available-at .clock-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.section-cars .card .card-body .btn-edit-cars {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 12px;
    width: 143.5px;
    height: 48px;
    background: #5cb85f;
    color: #ffffff;
    border-radius: 2px;
}

.section-cars .card .card-body .btn-edit-cars:hover {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 12px;
    width: 143.5px;
    height: 48px;
    background: #5cb85f;
    color: #ffffff;
    border-radius: 2px;
}

.section-cars .card .card-body .btn-edit-cars:hover {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    background-color: #499a4c;
    text-decoration: none;
}

.section-cars .card .card-body .btn-delete-cars {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    width: 143.5px;
    height: 48px;
    border-radius: 2px;
    color: #fa2c5a;
    background: #ffffff;
    border: 1px solid #fa2c5a;
    box-sizing: border-box;
    border-radius: 2px;
}

.section-cars .card .card-body .btn-delete-cars:hover {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    width: 143.5px;
    height: 48px;
    border-radius: 2px;
    color: #ffffff;
    background: #fa2c5a;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
}

.form{
  
    width: 970px;
    display: inline;
    margin-left: 250px;
    margin-bottom: 20px;
    
  }
.product{
	max-width: 1300px;
	margin : 50px auto;
	padding :10px ;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cardd{
	color : black;
	margin: 10px 20px;
	width: 280px;
	height: 400px;
  padding:1rem;
  text-align: left;
  border-radius: .5rem;
  background-color: var(--white-color);
}
.cardd:hover{
	border: 3px solid #0d28a6;
}
.img {
	margin: auto;
	width: 250px;
}

.img img {
	width: 90%;
}

.desc{
	padding : 10px;
}
.center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 150px;
    width: 150px;
  }

  /* Admin dashboard */
  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.l-navbar {
    position: fixed;
    top: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0px;
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    padding: 0;
}

.nav_logo {
    padding: 15px 18px 21px 18px;
}

.nav_link {
    position: relative;
    transition: 0.3s;
}

.nav_link:hover {
    background-color: #333;
}

.nav_title {
    color: #8a8a8a;
    display: block;
    font-weight: 700;
    font-size: 14px;
    padding: 1rem;
    width: 100%;
    margin: 0px;
}

.active-menu {
    color: var(--white-color);
    background-color: rgba(207, 212, 237, 0.5);
}

.active-filter {
    color: #0d28a6 !important;
    border-color: #0d28a6 !important;
    background-color: #cfd4ed;
}

.bg-color-1 {
    background-color: var(--hover-color);
}

.btn-add-car {
    background-color: var(--first-color);
    color: var(--white-color);
}

.btn-filter-size {
    color: #aeb7e1;
    border-color: #aeb7e1;
}

.btn-filter-size:hover {
    color: #0d28a6;
    border-color: #0d28a6;
    background-color: #cfd4ed;
}

.btn-outline {
    background-color: #fff;
    color: var(--first-color);
    border-color: var(--first-color);
}

.btn-fill {
    background-color: var(--first-color);
    color: var(--white-color);
}

.btn-outline:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}

.btn-save-car {
    border-color: var(--first-color);
    color: var(--first-color);
}

.toggle-header-small {
    padding: 0 2rem 0 calc(var(--nav-width));
}

.btn-action {
    width: 100px;
}


.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}

.header_toggle {
    font-size: 24px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width));
    }

    .header {
        padding: 0 2rem 0 calc(var(--nav-width));
    }

    .l-navbar {
        left: 0;
        padding: 0;
    }

    .body-pd {
        padding-left: calc(var(--nav-width) - 290px);
    }

    .expand {
        width: calc(var(--nav-width) - 250px);
    }
}

@media screen and (max-width: 768px) {
    /* body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) - 250px);
    } */

    .header {
        padding: 0 2rem 0 calc(var(--nav-width) - 250px);
    }

    .l-navbar {
        left: -250px;
        padding: 0;
    }

    .body-pd {
        padding-left: calc(var(--nav-width) -250px);
    }

    .expand {
        left: 0px;
    }

    .section-cars .card .cars-img {
        height: 30vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
    .section-cars .card .cars-img {
        height: 20vw;
    }
}

@media only screen and (max-width: 540px) {
    .section-cars .card .cars-img {
        height: 50vw;
    }
}