<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body id="body-pd">
    <!-- Navbar -->
    <header class="header navbar navbar-expand-md pe-0" id="header">
      <div class="d-flex me-auto header_toggle">
        <i class="bi bi-list mx-4" id="header-toggle"></i>
      </div>
      <form class="d-flex ms-auto" method="post" action="/search">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          value=""
          aria-label="Search"
          name="search"
        />
        <button class="btn btn-outline-primary btn-search" type="submit">
          Search
        </button>
      </form>
      <div class="btn-group ms-2 user-setting">
        <button
          type="button"
          class="btn dropdown-toggle"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          <img
            src="../../images/Rectangle 62.png"
            class="rounded-circle"
            alt=""
            style="width: 38px; height: 38px; object-fit: cover"
          />
          Admin
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-end">
          <li>
            <button class="dropdown-item" type="button">Setting</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">Logout</button>
          </li>
        </ul>
      </div>
    </header>
    <!-- Sidebar -->
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <table class="h-100">
          <tr>
            <td style="vertical-align: top; width: 60px; padding: 0px">
              <img class="nav_logo" src="../../images/Rectangle 63.png" />
              <a href="/" class="nav_link"
                ><img src="../../images/Home.png" alt=""
              /></a>
              <a href="/cars" class="nav_link active-menu"
                ><img src="../../images/Administrator.png" alt=""
              /></a>
            </td>
            <td
              style="
                vertical-align: top;
                background-color: #ffffff;
                padding: 0px;
              "
            >
              <img class="nav_logo" src="../../images/Rectangle 62.png" />
              <p class="nav_title" style="margin-top: 17px">Cars</p>
              <a href="/cars" class="nav_title text-black bg-color-1"
                >List Car</a
              >
            </td>
          </tr>
        </table>
      </nav>
    </div>
    <!-- Container Main -->
    <div class="h-100 mx-4">
      <!-- Breadcrumb -->
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb pt-3">
          <li class="breadcrumb-item">
            <a class="fw-bold text-black text-decoration-none">Cars</a>
          </li>
          <li class="breadcrumb-item active">List Car</li>
        </ol>
      </nav>
      <!-- Title Content -->
      <div class="pt-2 d-flex justify-content-between">
        <h4 class="h4 fw-bold">List Car</h4>
        <button
          class="btn btn-add-car float-end"
          onclick="location.href = '/cars/create';"
        >
          <i class="bi bi-plus-lg me-2"></i>Add New Car
        </button>
      </div>
      <!-- Filter Size Car -->
      <div class="py-3 d-flex justify-content-start">
        <button
          class="btn btn-outline-primary btn-filter-size me-3"
          onclick="location.href='/cars'"
          id="filterAll"
        >
          All
        </button>
        <button
          class="btn btn-outline-primary btn-filter-size me-3"
          onclick="location.href='/cars/small'"
          id="filterSmall"
        >
          Small
        </button>
        <button
          class="btn btn-outline-primary btn-filter-size me-3"
          onclick="location.href='/cars/medium'"
          id="filterMedium"
        >
          Medium
        </button>
        <button
          class="btn btn-outline-primary btn-filter-size me-3 active"
          onclick="location.href='/cars/large'"
          id="filterLarge"
        >
          Large
        </button>
      </div>
      <div class="pt-2 d-flex justify-content-between">
        <div class="product">
          <% cars.forEach((car) => { %>
          <div class="cardd satu">
            <div class="img satu">
              <div class="d-flex justify-content-center img satu">
                <img
                  class="card-img-top center-cropped rounded"
                  src="../../uploads/<%= car?.image %>"
                />
              </div>
            </div>
            <div class="desc satu">
              <h5><%= car?.name %></h5>
              <h6>Rp. <%= car?.price %> / hari</h6>
              <p><small>Updated at : <%= car?.updatedAt %></small></p>
              <a
                type="button"
                class="btn btn-danger btn-filter-size me-3"
                data-bs-toggle="modal"
                data-bs-target="#myModal<%= car?.id %>"
                id="Delete"
              >
                <i class="bi bi-trash"></i>
                Delete
              </a>
              <button
                class="btn btn-success btn-filter-size me-3"
                onclick="location.href='/cars/<%= car?.id %>/update'"
                id="Edit"
              >
                <i class="bi bi-pencil-square"></i>
                Edit
              </button>
            </div>
          </div>
          <!-- The Modal -->
          <div class="modal" id="myModal<%= car?.id %>" >
            <div class="modal-dialog">
              <div class="modal-content" style="background-color: transparent; border:none">
          
                <!-- Modal Header -->          
                <!-- Modal body -->
                
                  <div class="d-flex justify-content-center modal-body" style="border-radius: 1rem;">
                    <div class="card shadow p-3" style="display:flex; border:none; align-items: center; border-radius: 1rem;width: 500px; height: 500px;">
                      <h5 class="modal-title mb-3">Delete Confirmation</h5>
                      <img src="../../images/.sadlif.png" class="rounded-circle shadow" style="width:300px; height:auto"/>
                      <div class="card-body">
                        <!-- confirmation -->
                        <h6 class="card-text text-center">Hapus informasi mobil?</h6>
                      </div>
                      <div class="d-block">
                        <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#myModalhapusdone<%= car?.id %>"
                      >
                        Delete
                      </button>
                      </div>
  
                    </div>
                  </div>
                
                          
              </div>
            </div>
          </div>
          <div class="modal" id="myModalhapusdone<%= car?.id %>" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
              <div class="modal-content" style="background-color: transparent; border:none">
          
                <!-- Modal Header -->          
                <!-- Modal body -->
                
                  <div class="d-flex justify-content-center modal-body" style="border-radius: 1rem;">
                    <div class="card shadow p-3" style="display:flex; border:none; align-items: center; border-radius: 1rem; width: 500px; height: 500px;">
                      <h2 class="modal-title my-4">Delete Car Success</h2>
                      <img src="../../images/checkbox.png" class="rounded-circle shadow my-1" style="width:250px; height:auto"/>
                      <div class="d-block">

                      <button
                        type="button"
                        class="btn btn-lg btn-success my-4"
                        onclick="location.href='/cars/delete/<%= car?.id %>'"
                      >
                        Confirm
                      </button>
                      </div>
  
                    </div>
                  </div>
                
                          
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
