<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body id="body-pd">
    <!-- Navbar -->
    <header class="header navbar navbar-expand-md pe-0" id="header">
      <div class="d-flex me-auto header_toggle">
        <i class="bi bi-list mx-4" id="header-toggle"></i>
      </div>
      <form class="d-flex ms-auto" method="post" action="/search">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          value=""
          aria-label="Search"
          name="search"
        />
        <button class="btn btn-outline-primary btn-search" type="submit">
          Search
        </button>
      </form>
      <div class="btn-group ms-2 user-setting">
        <button
          type="button"
          class="btn dropdown-toggle"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          <img
            src="../images/Rectangle 62.png"
            class="rounded-circle"
            alt=""
            style="width: 38px; height: 38px; object-fit: cover"
          />
          Admin
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-end">
          <li>
            <button class="dropdown-item" type="button">Setting</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">Logout</button>
          </li>
        </ul>
      </div>
    </header>
    <!-- Sidebar -->
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <table class="h-100">
          <tr>
            <td style="vertical-align: top; width: 60px; padding: 0px">
              <img class="nav_logo" src="../images/Rectangle 63.png" />
              <a href="/" class="nav_link"
                ><img src="../images/Home.png" alt=""
              /></a>
              <a href="/cars" class="nav_link active-menu"
                ><img src="../images/Administrator.png" alt=""
              /></a>
            </td>
            <td
              style="
                vertical-align: top;
                background-color: #ffffff;
                padding: 0px;
              "
            >
              <img class="nav_logo" src="../images/Rectangle 62.png" />
              <p class="nav_title" style="margin-top: 17px">Cars</p>
              <a href="/cars" class="nav_title text-black bg-color-1"
                >List Car</a
              >
            </td>
          </tr>
        </table>
      </nav>
    </div>
    <!-- Container Main -->
    <div class="h-100 mx-4">
      <!-- Breadcrumb -->
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb pt-3">
          <li class="breadcrumb-item">
            <a class="fw-bold text-black text-decoration-none">Cars</a>
          </li>
          <li class="breadcrumb-item active">List Car</li>
          <li class="breadcrumb-item active">Update Car</li>
        </ol>
      </nav>
      <!-- Title Content -->
      <div class="pt-2 d-flex justify-content-between">
        <h4 class="h4 fw-bold">Add New Car</h4>
      </div>
      <div class="w-100 bg-light px-5 py-3 rounded-3">
        <form
          method="POST"
          enctype="multipart/form-data"
          action="/cars/create"
          class="was-validated w-50 px-5 my-auto m-5"
        >
          <div class="mb-3">
            <label for="namaMobil" class="form-label">Name</label>
            <input
              required
              type="text"
              class="form-control"
              name="name"
              id="namaMobil"
              placeholder="Input Nama Mobil"
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="mb-3">
            <label for="hargaSewa" class="form-label">Rent Price Per Day</label>
            <input
              required
              type="number"
              class="form-control"
              id="hargaSewa"
              name="price"
              placeholder="Rp. 0,-"
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <div class="mb-3">
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="ukuranMobil1"
                name="type"
                value="small"
                required
              />
              <label class="form-check-label" for="radio1">Small</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="ukuranMobil2"
                name="type"
                value="medium"
                required
              />
              <label class="form-check-label" for="radio1">Medium</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="ukuranMobil3"
                name="type"
                value="large"
                required
              />
              <label class="form-check-label" for="radio1">Large</label>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">
                Please choose one of this field.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="formFileSm" class="form-label">Choose Image</label>
            <input
              required
              class="form-control form-control-sm"
              id="formFileSm"
              name="image"
              type="file"
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">
              Please upload file in this field.
            </div>
          </div>
          <div class="mb-3">
            <a
              type="button"
              class="btn btn-outline-danger"
              onclick="history.back()"
              ><i class="bi bi-backspace-fill p-1"></i>Cancel</a
            >

            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
              id="save"
              disabled
            >
              <i class="bi bi-upload p-1"></i> Create
            </button>
            <div
              class="modal"
              id="myModal"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
            >
              <div class="modal-dialog">
                <div
                  class="modal-content"
                  style="background-color: transparent; border: none"
                >
                  <!-- Modal Header -->
                  <!-- Modal body -->

                  <div
                    class="d-flex justify-content-center modal-body"
                    style="border-radius: 1rem"
                  >
                    <div
                      class="card shadow p-3"
                      style="
                        display: flex;
                        border: none;
                        align-items: center;
                        border-radius: 1rem;
                        width: 500px;
                        height: 500px;
                      "
                    >
                      <h2 class="modal-title my-4">Car Successfully Created</h2>
                      <img
                        src="../images/smail.png"
                        class="rounded-circle shadow my-1"
                        style="width: 250px; height: auto"
                      />
                      <div class="d-block">
                        <button
                          type="submit"
                          class="btn btn-lg btn-success my-4"
                          value="Create Car"
                        >
                          Confirm
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>
      const submitBtn = document.getElementById("save");

      const uName = document.getElementById("namaMobil");
      const uHarga = document.getElementById("hargaSewa");
      const uImage = document.getElementById("formFileSm");

      // run this function whenever the values of any of the above 4 inputs change.
      // this is to check if the input for all 4 is valid.  if so, enable submitBtn.
      // otherwise, disable it.
      const checkEnableButton = () => {
        submitBtn.disabled = !(uName.value && uHarga.value && uImage.value);
      };

      uName.addEventListener("change", checkEnableButton);
      uHarga.addEventListener("change", checkEnableButton);
      uImage.addEventListener("change", checkEnableButton);
    </script>
  </body>
</html>
